<footer class="footer has-padding-top-15 has-padding-bottom-15" style="background-color: #2C6700; color: white;">
    <div class="content has-text-centered">
        <p>
            Made by Brent Phillips
        </p>
    </div>
</footer>