<footer class="green darken-4">
    <div class="footer-copyright white-text">
        <div class="container center-align">
            This was made by Brent Phillips
        </div>
    </div>
</footer>