<section class="section has-margin-top-20">
    <div class="container">
        <div class="columns is-vcentered has-text-centered">
            <div class="column is-2">
                <figure class="image is-square ">
                    <img class="" src="http://fillmurray.com/200/200">
                </figure>
            </div>
            <div class="column is-9">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi nisi fugiat ullam reprehenderit
                    possimus omnis nostrum inventore ipsum. Ipsa nesciunt expedita consectetur. Nemo, illo. Quibusdam,
                    cumque. Ducimus quas harum quam repudiandae atque facilis veniam dolorem voluptas ex, vitae
                    distinctio maiores eum expedita similique eaque nostrum. Maxime dolorem qui, quos voluptates quod
                    quam veniam voluptas itaque. Alias minima laborum, animi deleniti nobis aut odio perferendis illo
                    at aliquam fuga debitis id eos, hic labore obcaecati. Quo rerum minima in labore facere ad nostrum
                    id incidunt laudantium beatae ab, dolore delectus officiis fugiat quis repellat sequi distinctio
                    velit blanditiis!
                </p>
            </div>
            <div class="column is-1">
                <a href="https://github.com/webdevbrent" class="center-align" style="color: #1b5e20;">
                    <i class="fab fa-github-square fa-4x"></i>
                </a>
            </div>
        </div>
    </div>
</section>