<div class="section no-pad-bot" id="index-banner">
    <div class="container hide-on-med-and-down">
        <div class="row center-align">
            <div class="col s2 valign-wrapper center-align" style="height:242px;">
                <img src="http://fillmurray.com/200/200" class="circle responsive-img" alt="Fill Murray">
            </div>
            <div class="col s9 center-align" style="height:242px;">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere harum dolore provident error
                    aperiam exercitationem aliquid a nulla dignissimos blanditiis, eveniet iste, labore
                    necessitatibus
                    reiciendis corrupti iusto doloremque animi! Quo voluptates accusamus laudantium ea vero velit
                    repudiandae est magnam. Repellendus sit similique delectus voluptatibus iusto. Sed autem
                    distinctio
                    sit voluptate omnis rerum laborum nulla suscipit mollitia aperiam? Architecto delectus eius
                    veritatis, est velit cum rem facilis earum suscipit ipsum ducimus consequuntur, blanditiis ab
                    cumque sint totam ipsam in saepe soluta perferendis sequi autem. Nihil sequi eaque praesentium,
                    adipisci natus hic ipsum dolore, eveniet sit obcaecati sed corporis aliquam consectetur eum
                    repudiandae unde ratione dolorum, quo tempora esse? Ipsa architecto totam hic repudiandae id
                    corrupti molestias, voluptas, porro culpa illo cumque quaerat earum temporibus magnam at est
                    sequi,
                    delectus quis! Ipsa alias nam sint quo mollitia perspiciatis quibusdam minima non quia natus
                </p>

            </div>
            <div class="col s1 valign-wrapper" style="height:242px;">
                <a href="https://github.com/webdevbrent" class="center-align" style="color: #1b5e20;">
                    <i class="fab fa-github-square fa-9x"></i>
                </a>
            </div>
        </div>
    </div>
</div>