<nav class="navbar is-success is-fixed-top" style="background-color: #2C6700;">
    <div class="navbar-brand">
        <a class="navbar-item" href="/" style="font-weight:600; font-size: 24px;">
            Brent Codes
        </a>
        <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>
    <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
            <% for (var i in theme.menu){ %>
            <a href="<%- url_for(theme.menu[i]) %>" class="navbar-item">
                <%= i %>
            </a>
            <% } %>
        </div>
    </div>
</nav>