<!DOCTYPE html>
<html lang="en">

<%- partial('_partial/head.ejs') %>

<body>
    <a class="waves-effect waves-light btn">button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
</body>

</html>