<section class="section has-margin-top-20">
    <div class="container">
        <div class="row">
            <div class="columns justify-center">
                <div class="column is-9">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <%- page.title %>
                            </p>
                        </header>
                        <div class="card-content">
                            <p>
                                <%- page.content %>
                            </p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                Author Card?
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>